.selectWrapper {
	position: relative;
	margin-bottom: 16px;
}

.select {
	width: 100%;
	padding: 8px 15px;
	font-size: 16px;
	border-radius: 7px;
	transition: border-color 0.2s ease;
	border: none;
	background: #ecf1f7;
	appearance: none;
	cursor: pointer;
	position: relative;
	z-index: 2;

	&.withLabel {
		padding-top: 24px;

		&:focus + .label,
		&:not([value='']) + .label {
			top: 7px;
			font-size: 12px;
		}
	}

	&.noLabel {
		display: flex;
		align-items: center;
		padding-top: 8px;
	}

	&:focus {
		outline: none;
	}
}

.label {
	position: absolute;
	left: 12px;
	top: 18px;
	color: #6c6f71;
	font-size: 16px;
	pointer-events: none;
	transition: 0.2s ease all;
	padding: 0 4px;
	z-index: 3;
}

.arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	z-index: 1;

	.withLabel + & {
		top: calc(50% + 8px);
	}
}

.select option {
	background: white;
	color: #333;
	padding: 8px;
}
