.header {
	height: 68px;
	background: #ffdd2d;
	border-radius: 0 0 10px 10px;
	display: flex;
	padding: 20px;
	align-items: center;
	gap: 15px;
	button {
		cursor: pointer;
		background: none;
		border: none;
		width: 20px;
		height: 20px;

		img {
			width: 18px;
			height: 18px;
		}
	}
}
